/**********************************************************
                      beforeImg mixin
***********************************************************/

@mixin beforeSvg (
  $svg: 'url(../images/ico/ico-dowload.svg)',
  $width: 25px,
  $height: 25px,
  $margin: 0 15px 0 0
) {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  &:before {
    content: '';
    display: block;
    @include rem(margin, $margin);
    @include rem(width, $width);
    @include rem(height, $height);
    @include rem(flex, 0 0 $width);
    @include bgSvg($img);
  }
}
