@mixin beside-img (
  $width: 25px,
  $height: 25px,
  $img: 'url(../images/ico/ico-dowload.svg)',
  $margin: 0 15px 0 0,
  $side: before,
  $color: false
) {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  &:#{$side} {
    content: '';
    display: block;
    @include rem(margin, $margin);
    @include rem(width, $width);
    @include rem(height, $height);
    @include rem(flex, 0 0 $width);
    @include bgi($img, contain, center center, no-repeat, $color);
  }
}
