/**********************************************************
                      BGIMG mixin
***********************************************************/

@mixin bgImg (
  $url: 'logos/logo-epec.svg',
  $size: contain,
  $position: center center,
  $repeat: no-repeat
) {
  background-image: url('../images/' + $url);
  background-size: $size;
  background-position: $position;
  background-repeat: $repeat;
}
