/**********************************************************
                      EXTENDBG mixin
***********************************************************/

@mixin extendBg() {
  position: relative;
  > * {
    position: relative;
    z-index: 2;
  }
  &:before {
    z-index: 1;
    content: "";
    display: block;
    position: absolute;
    top: 0;
    width: 100vw;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    background-color: inherit;
  }
}
