@mixin font (
  $style: normal,
  $weight: 700,
  $size: 62px,
  $line: 74px,
  $family: "'Arial', sans-serif"
) {
  font-style: $style;
  font-weight: $weight;
  font-family: $family;
  @include rem(font-size, $size);
  @if get-unit($size) == 'px' {
    @include rem(font-size, $size);
  } @else {
    font-size: $size;
  }
  @if get-unit($line) == 'px' {
    @include rem(line-height, $line);
  } @else {
    line-height: $line;
  }
}