/**********************************************************
                       TRANSFORM mixin
***********************************************************/

@mixin transform (
  $translateX: 0,
  $translateY: 0,
  $rotate: 0deg,
  $scale: 1
) {
  transform: translateX($translateX) translateY($translateY) rotate($rotate) scale($scale);
}